* {
	padding: 0;
	margin: 0;
	font-family: "Inter", sans-serif;
}

body {
	background-color: #121212;
	font-display: swap;
}

header {
	display: flex;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #2c2c2c;
	justify-content: space-between;
}

.logoContainer {
	margin: 20px 0 20px 50px;
	display: flex;
	align-items: center;
}

.menu {
	height: 20px;
	margin-right: 25px;
	cursor: pointer;
	padding: 9px 7px;
	border-radius: 3px;
	transition: 250ms;

	&:hover {
		background-color: rgba(255, 255, 255, 0.11);
		transition: 250ms;
	}
}

.logo {
	height: 40px;
	cursor: pointer;
}

.searchContainer {
	display: flex;
	align-items: center;
	justify-content: center;
}

.search {
	font-size: 1em;
	background-color: rgba(255, 255, 255, 0.103);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	height: 45px;
	width: 700px;
	border-radius: 5px;

	input {
		color: white;
		font-size: inherit;
		background: none;
		border: none;
		width: 660px;
	}
}

.buttonContainer {
	grid-column: 10/12;
	display: flex;
	justify-content: right;
	align-items: center;
	padding-right: 50px;
}

header button {
	display: flex;
	align-items: center;
	padding: 12.5px 25px;
	width: max-content;
	background: none;
	border: none;
	font-family: inherit;
	color: white;
	font-size: 1.2em;
	margin-left: 15px;
	cursor: pointer;
	border-radius: 5px;
	transition: 250ms;

	&:hover {
		background-color: rgba(255, 255, 255, 0.11);
		transition: 250ms;
	}
}

div button svg {
	padding-left: 8px;
}

.content {
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	padding-top: 120px;
}

.drogas {
	grid-column: 2/9;
	color: white;
}
.drogasPopularesContainer {
	background-color: #242424;
	border-radius: 5px;
}
.drogasPopulares {
	width: 100%;
	margin-top: 30px;
	display: flex;
	justify-content: space-evenly;
	transition: 250ms;
}

.drogaPopular {
	padding: auto;
	border-radius: 5px;
	cursor: pointer;
	transition: 250ms;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 15px 0;

	&:hover {
		background-color: rgba(255, 255, 255, 0.096);
		transition: 250ms;
	}

	h4 {
		font-size: 2.3em;
		margin: 5px 0 2px 0;
	}

	h6 {
		font-weight: 200;
		font-size: 1.1em;
	}

	img {
		width: 90%;
	}
}

.verMas {
	display: flex;
	justify-content: center;
	align-content: center;
	padding: 20px 0 40px;

	button {
		cursor: pointer;
		border-radius: 3px;
		border: none;
		background-color: #ff50ad;
		color: #121212;
		font-family: inherit;
		font-weight: 700;
		font-size: 1em;
		width: max-content;
		padding: 12.5px 25px;
		transition: 250ms;

		&:hover {
			background-color: #ff68b9;
			transition: 250ms;
		}
	}
}

.hueco {
	background-color: #242424;
	height: 100vh;
	border-radius: 5px;
	grid-column: 2/9;
	margin: 75px 0;
	min-width: 50%;
	max-width: 100%;
}

#topButton {
	display: none;
	border: none;
	background-color: #ff50ad;
	padding: 10.125px 12px;
	border-radius: 50px;
	font-size: inherit;
	font-family: inherit;
	position: fixed;
	bottom: 75px;
	right: 100px;
	transition: 250ms;
}

@media screen and (max-width: 1600px) {
	.drogaPopular {
		font-size: 0.8em;
		img {
			width: 90%;
		}
	}
}

@media screen and (max-width: 1376px) {
	.search {
		width: 500px;

		input {
			width: 460px;
		}
	}
	.verMas {
		font-size: 0.8em;
		button {
			padding: 8px 16px;
		}
	}
	.drogaPopular {
		font-size: 0.7em;
		img {
			width: 85%;
		}
	}
}

@media screen and (max-width: 1120px) {
	.search {
		width: 300px;

		input {
			width: 260px;
		}
	}
	.drogaPopular {
		img {
			width: 80%;
		}
	}
}

@media screen and (max-width: 800px) {
	.searchContainer {
		display: none;
	}
	.drogas {
		grid-column: 1/10;
		margin: 0 20px;
	}

	.hueco {
		grid-column: 1/10;
		margin: 75px 20px;
	}
	.drogasPopulares {
		display: flex;
		flex-direction: column;
	}

	.etiqueta {
		display: none;
	}
	.logoContainer {
		margin-left: 10px;
	}

	.buttonContainer {
		margin-right: 10px;
		padding-right: 0;
		button svg {
			padding: 0;
		}
	}
	#topButton {
		bottom: 20px;
		right: 20px;
	}

	.drogaPopular {
		font-size: 0.8em;
		padding: 20px 0;
		image {
			width: 80%;
		}
	}

	.verMas {
		display: flex;
		justify-content: center;
		align-content: center;
		padding: 20px 0 40px;

		button {
			cursor: pointer;
			border-radius: 3px;
			border: none;
			background-color: #ff50ad;
			color: #121212;
			font-family: inherit;
			font-weight: 700;
			font-size: 1em;
			width: max-content;
			padding: 12.5px 25px;
		}
	}
}
